{#
SPDX-FileCopyrightText: 2024 Slavi Pantaleev
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=APISIX dashboard ({{ apisix_dashboard_identifier }})
{% for service in apisix_dashboard_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in apisix_dashboard_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre={{ devture_systemd_docker_base_host_command_sh }} -c '{{ apisix_dashboard_container_cleanup_command | trim | replace("\n", " ") }}'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ apisix_dashboard_identifier }} \
      --log-driver=none \
      --read-only \
      --user={{ apisix_dashboard_uid }}:{{ apisix_dashboard_gid }} \
      --cap-drop=ALL \
      --network={{ apisix_dashboard_container_network }} \
      {% if apisix_dashboard_container_http_bind_port %}
      -p {{ apisix_dashboard_container_http_bind_port }}:{{ apisix_dashboard_config_conf_listen_port }} \
      {% endif %}
      --env-file={{ apisix_dashboard_base_path }}/env \
      --label-file={{ apisix_dashboard_base_path }}/labels \
      --mount type=bind,src={{ apisix_dashboard_config_path }}/config.yaml,dst=/usr/local/apisix-dashboard/conf/conf.yaml,ro \
      {% for volume in apisix_dashboard_container_additional_volumes %}
      --mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options | default('') else '' }} \
      {% endfor %}
      {% for arg in apisix_dashboard_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ apisix_dashboard_container_image }}

{% for network in apisix_dashboard_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ apisix_dashboard_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ apisix_dashboard_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ apisix_dashboard_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ apisix_dashboard_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ apisix_dashboard_identifier }}

[Install]
WantedBy=multi-user.target
